.idea/
__pycache__/
data/metadata
data/ngram1
data/ngram2
data/ngram3
data/*.csv
data/plots/decile_plots
experiments/
configuration\.py

corpus\.py

data/ngram1_vocabulary_dict\.pickle

density_plot\.py

gender_data\.csv

plot_gender_development\.py\.lprof

theses\.py

data/metadata\.db
